body {
  margin: 0;
  padding: 0;
  background-color: hsl(323, 8%, 80%) !important;
}

.main-svg {
  background: transparent !important;
}

.tab-container {
  border-radius: 0.5em;
  overflow: hidden;
  border: 1px solid white;
}

.tab {
  background-color: white !important;
  border: none !important;
}

.tab--selected {
  background-color: #584b53 !important;
  color: white !important;
}
